src/flows/Calc_Owner_of_current_workload-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assSetCurrentWorkloadOwner</name>
        <label>assSetCurrentWorkloadOwner</label>
        <locationX>345</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>soResponse.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkloadOwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Calc Owner of current workload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calc Owner of current workload</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>rlResponse</name>
        <label>rlResponse</label>
        <locationX>345</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assSetCurrentWorkloadOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponse</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputAssignments>
            <assignToReference>soResponse.Current_Workload__c</assignToReference>
            <field>Current_Workload__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlWorkItem</name>
        <label>rlWorkItem</label>
        <locationX>344</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlworkload</targetReference>
        </connector>
        <filters>
            <field>Delivery_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponse</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputAssignments>
            <assignToReference>varWorkload</assignToReference>
            <field>Workload__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>rlworkload</name>
        <label>rlworkload</label>
        <locationX>345</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlResponse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkload</elementReference>
            </value>
        </filters>
        <filters>
            <field>Workload_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Workload__c</object>
        <outputAssignments>
            <assignToReference>varWorkloadOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>rlWorkItem</startElementReference>
    <variables>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>soWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>varResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkloadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
