src/flows/Calc_First_Mailout_Date-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assActivityScheduleCount</name>
        <label>assActivityScheduleCount</label>
        <locationX>764</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>ActSchedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Minimum_Questionnaire_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMinDate</name>
        <label>AssignMinDate</label>
        <locationX>763</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>varMinPostOutdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soActivitySchedule.Scheduled_Date_time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopActivitySchedules</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_Minimum_Questionnaire_Date</name>
        <label>Find Minimum Questionnaire Date</label>
        <locationX>768</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>loopActivitySchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Minimum_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soActivitySchedule.Scheduled_Date_time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varMinPostOutdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMinDate</targetReference>
            </connector>
            <label>Minimum Date</label>
        </rules>
    </decisions>
    <interviewLabel>Calc First Postout Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calc First Postout Date</label>
    <loops>
        <name>loopActivitySchedules</name>
        <label>loopActivitySchedules</label>
        <locationX>251</locationX>
        <locationY>265</locationY>
        <assignNextValueToReference>soActivitySchedule</assignNextValueToReference>
        <collectionReference>socActivitySchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assActivityScheduleCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCollectionInstance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fuActivitySchedules</name>
        <label>fuActivitySchedules</label>
        <locationX>249</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopActivitySchedules</targetReference>
        </connector>
        <filters>
            <field>Collection_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionInstanceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Questionnaire</stringValue>
            </value>
        </filters>
        <object>Activity_Schedule__c</object>
        <outputReference>socActivitySchedules</outputReference>
        <queriedFields>Collection_Instance__c</queriedFields>
        <queriedFields>Work_Item_Type__c</queriedFields>
        <queriedFields>Scheduled_Date_time__c</queriedFields>
        <sortField>Scheduled_Date_time__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateCollectionInstance</name>
        <label>updateCollectionInstance</label>
        <locationX>250</locationX>
        <locationY>397</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionInstanceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Postout_date__c</field>
            <value>
                <elementReference>varMinPostOutdate</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_Instance__c</object>
    </recordUpdates>
    <startElementReference>fuActivitySchedules</startElementReference>
    <variables>
        <name>ActSchedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>soActivitySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity_Schedule__c</objectType>
    </variables>
    <variables>
        <name>socActivitySchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold the Collection Instance ID (parent ID)</description>
        <name>varCollectionInstanceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable to hold the minimum Mail Out Date</description>
        <name>varMinPostOutdate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2019-12-31T11:00:00.000Z</dateTimeValue>
        </value>
    </variables>
</Flow>
