src/flows/CountResponses-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcTotalKeyCount</name>
        <label>assCalcTotalKeyCount</label>
        <locationX>800</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>varCountKeyResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNetKeyResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assCalcTotalNetKeyCount</name>
        <label>assCalcTotalNetKeyCount</label>
        <locationX>789</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>varNetKeyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assCalcTotalNetSampleCount</name>
        <label>assCalcTotalNetSampleCount</label>
        <locationX>881</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>varCountNetSample</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Key_Response_Count</name>
        <label>Assign Key Response Count</label>
        <locationX>640</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>varCountKeyResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Net_Sample_Size</name>
        <label>Assign Net Sample Size</label>
        <locationX>449</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>varCountNetSample</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Count</name>
        <label>Assign Total Count</label>
        <locationX>425</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>varNetKeyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountNetSample</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountKeyResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>520</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Count_Net_Keys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Key__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soResponse.Response_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Count</targetReference>
            </connector>
            <label>Count Net Keys</label>
        </rules>
        <rules>
            <name>Count_Net_Sample_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Response_Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soResponse.Key__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Net_Sample_Size</targetReference>
            </connector>
            <label>Count Net Sample Size</label>
        </rules>
        <rules>
            <name>Count_Key_Responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Key__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soResponse.Response_Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Key_Response_Count</targetReference>
            </connector>
            <label>Count Key Responses</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decison check if response being key</description>
        <name>IsKeyResponse</name>
        <label>IsKeyResponse</label>
        <locationX>747</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Key_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Key__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assCalcTotalKeyCount</targetReference>
            </connector>
            <label>Key Response</label>
        </rules>
        <rules>
            <name>Not_Key_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Key__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Key Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNetKeyResponse</name>
        <label>IsNetKeyResponse</label>
        <locationX>811</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NetKeyResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Response_Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assCalcTotalNetKeyCount</targetReference>
            </connector>
            <label>NetKeyResponse</label>
        </rules>
    </decisions>
    <decisions>
        <name>NetSampleResponse</name>
        <label>NetSampleResponse</label>
        <locationX>757</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>IsKeyResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNetSampleResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soResponse.Response_Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <label>IsNetSampleResponse</label>
        </rules>
    </decisions>
    <description>This flow combines CountKeyResponses, Count Net keys and Count Net Sample Size flows into 1 because all 3 were looping through responses individually could hit govenor limit of salesforce.</description>
    <interviewLabel>CountResponses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountResponsesForCollectionInstance</label>
    <loops>
        <name>loopResponses</name>
        <label>loopResponses</label>
        <locationX>248</locationX>
        <locationY>266</locationY>
        <assignNextValueToReference>soResponse</assignNextValueToReference>
        <collectionReference>socResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCollectionInstance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fuResponses</name>
        <label>fuResponses</label>
        <locationX>249</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
        <filters>
            <field>Collection_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionInstanceID</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>socResponses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collection_Unit__c</queriedFields>
        <queriedFields>Key__c</queriedFields>
        <queriedFields>Collection_Instance__c</queriedFields>
        <queriedFields>Response_Status_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCollectionInstance</name>
        <label>updateCollectionInstance</label>
        <locationX>249</locationX>
        <locationY>397</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionInstanceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Keys_Sample_Size__c</field>
            <value>
                <elementReference>varCountKeyResponses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Responses__c</field>
            <value>
                <elementReference>varCountNetSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_keys__c</field>
            <value>
                <elementReference>varNetKeyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_Instance__c</object>
    </recordUpdates>
    <startElementReference>fuResponses</startElementReference>
    <variables>
        <description>Sobject Collection of all responses of a collection</description>
        <name>socResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold the Collection Instance ID (parent ID)</description>
        <name>varCollectionInstanceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable to hold the running count of Key Responses.</description>
        <name>varCountKeyResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold count of net sample size</description>
        <name>varCountNetSample</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>variable that hold net key responses count</description>
        <name>varNetKeyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
