src/flows/CountKeyResponses-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcTotalCount</name>
        <label>assCalcTotalCount</label>
        <locationX>515</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>varCountKeyResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
    </assignments>
    <description>Counts the number of responses flageed as &apos;Key&apos;</description>
    <interviewLabel>CountKeyResponses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountKeyResponses</label>
    <loops>
        <name>loopResponses</name>
        <label>loopResponses</label>
        <locationX>251</locationX>
        <locationY>265</locationY>
        <assignNextValueToReference>soResponse</assignNextValueToReference>
        <collectionReference>socKeyResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCalcTotalCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCollectionInstance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fuResponses</name>
        <label>fuResponses</label>
        <locationX>249</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopResponses</targetReference>
        </connector>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>socKeyResponses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collection_Unit__c</queriedFields>
        <queriedFields>Key__c</queriedFields>
        <queriedFields>Collection_Instance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCollectionInstance</name>
        <label>updateCollectionInstance</label>
        <locationX>249</locationX>
        <locationY>397</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionInstanceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Keys_Sample_Size__c</field>
            <value>
                <elementReference>varCountKeyResponses</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_Instance__c</object>
    </recordUpdates>
    <startElementReference>fuResponses</startElementReference>
    <variables>
        <description>Collection of Responses that are Keys</description>
        <name>socKeyResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold the Collection Instance ID (parent ID)</description>
        <name>varCollectionInstanceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable to hold the running count of Key Responses.</description>
        <name>varCountKeyResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
