src/flows/Count_Open_NRFU_Work_Items-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcTotalCount</name>
        <label>assCalcTotalCount</label>
        <locationX>515</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>varCountOpenNRFUWorkItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkItems</targetReference>
        </connector>
    </assignments>
    <description>A Flow that is triggered by Process Builder &apos;WI Trigger &apos;Open NRFU count&apos; update&apos;.  
This flow counts the number of open NRFU items for a given response record and assigns this value to Response.Open_NRFU_count field.</description>
    <interviewLabel>Count Open NRFU Work Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Open NRFU Work Items</label>
    <loops>
        <name>loopWorkItems</name>
        <label>loopWorkItems</label>
        <locationX>251</locationX>
        <locationY>265</locationY>
        <assignNextValueToReference>soWorkItem</assignNextValueToReference>
        <collectionReference>socOpenNRFUWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCalcTotalCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateResponse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fuWorkItems</name>
        <label>fuWorkItems</label>
        <locationX>249</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWorkItems</targetReference>
        </connector>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-response follow-up</stringValue>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputReference>socOpenNRFUWorkItems</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Work_Item_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Response__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateResponse</name>
        <label>updateReponse</label>
        <locationX>249</locationX>
        <locationY>397</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_NRFU_count__c</field>
            <value>
                <elementReference>varCountOpenNRFUWorkItems</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>fuWorkItems</startElementReference>
    <variables>
        <name>socOpenNRFUWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>soWorkItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <description>A variable to hold the running count of Open NRFU Work Items</description>
        <name>varCountOpenNRFUWorkItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold the Response ID (parent ID)</description>
        <name>varResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
