src/flows/Create_Update_Unit_Address_WorkItem-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetQueueName</name>
        <label>GetQueueName</label>
        <locationX>233</locationX>
        <locationY>539</locationY>
        <actionName>GetCustomSettingValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Work_Item</targetReference>
        </connector>
        <inputParameters>
            <name>names</name>
            <value>
                <elementReference>varQueueName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varQueueValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <description>This flow is to create &apos;Update Unit Address&apos; WorkItem for C&amp;L team to update the Unit address changes received from Sybase through Mulesoft</description>
    <interviewLabel>Create ‘Update Unit Address&apos; WorkItem for Collection Mark-InRequest Id {!varCollectionMarkInRequestId} at {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ‘Update Unit Address&apos; WorkItem</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Item</name>
        <label>Create Work Item</label>
        <locationX>439</locationX>
        <locationY>641</locationY>
        <inputAssignments>
            <field>Queue_Id__c</field>
            <value>
                <elementReference>varQueueValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>soResponse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item_Type__c</field>
            <value>
                <stringValue>Update Respondent Details</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetCollectionInstance</name>
        <label>GetCollectionInstance</label>
        <locationX>233</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResponse</targetReference>
        </connector>
        <filters>
            <field>Collection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Collection_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reference_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Reference_Period__c</elementReference>
            </value>
        </filters>
        <object>Collection_Instance__c</object>
        <outputReference>soCollectionInstance</outputReference>
        <queriedFields>Collection_Instance_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionMark_InRequest</name>
        <label>GetCollectionMark-InRequest</label>
        <locationX>232</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCollectionInstance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionMarkInRequestId</elementReference>
            </value>
        </filters>
        <object>Collection_Mark_In_Request__c</object>
        <outputReference>soCollectionMarkInRequest</outputReference>
        <queriedFields>Unit_Of_Interest_ID__c</queriedFields>
        <queriedFields>Collection_Code__c</queriedFields>
        <queriedFields>Instrument_Code__c</queriedFields>
        <queriedFields>Reference_Period__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetResponse</name>
        <label>GetResponse</label>
        <locationX>223</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueName</targetReference>
        </connector>
        <filters>
            <field>Response_ExtId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!soCollectionInstance.Collection_Instance_Code__c}+{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}+{!soCollectionMarkInRequest.Instrument_Code__c}</stringValue>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponse</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>GetCollectionMark_InRequest</startElementReference>
    <variables>
        <description>it contains the single collection instance which has given collection code and refrence period</description>
        <name>soCollectionInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Instance__c</objectType>
    </variables>
    <variables>
        <description>single collection mark-in request record</description>
        <name>soCollectionMarkInRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Mark_In_Request__c</objectType>
    </variables>
    <variables>
        <description>it will contains the Response having ResponseExtId as {!soCollectionInstance.Collection_Instance_Code__c}+{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}+{!soCollectionMarkInRequest.Instrument_Code__c}</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>This is the unique Id associated with each collection mark-in request object</description>
        <name>varCollectionMarkInRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>It contains queue name</description>
        <name>varQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will receive queue value from custom settings</description>
        <name>varQueueValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
