src/flows/Create_Update_Unit_Address_WorkItem-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetQueueName</name>
        <label>GetQueueName</label>
        <locationX>233</locationX>
        <locationY>539</locationY>
        <actionName>GetCustomSettingValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CustomSettingValue</targetReference>
        </connector>
        <inputParameters>
            <name>names</name>
            <value>
                <elementReference>varQueueName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varQueueValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>ResponseExtensionAssignment</name>
        <label>ResponseExtensionAssignment</label>
        <locationX>938</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>varResExtId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!soCollectionInstance.Collection_Instance_Code__c}{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}{!soCollectionMarkInRequest.Instrument_Code__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResponseExtensionId</targetReference>
        </connector>
    </assignments>
    <description>This flow is to create &apos;Update Unit Address&apos; WorkItem for C&amp;L team to update the Unit address changes received from Sybase through Mulesoft</description>
    <interviewLabel>Create ‘Update Unit Address&apos; WorkItem for Collection Mark-InRequest Id {!varCollectionMarkInRequestId} at {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ‘Update Unit Address&apos; WorkItem</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Item</name>
        <label>Create Work Item</label>
        <locationX>439</locationX>
        <locationY>641</locationY>
        <assignRecordIdToReference>varWorkItemID</assignRecordIdToReference>
        <connector>
            <targetReference>WorkItem</targetReference>
        </connector>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Received address changes, manual processing is required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>soGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>soResponse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item_Type__c</field>
            <value>
                <stringValue>Update Unit Address</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetCollection</name>
        <label>GetCollection</label>
        <locationX>227</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectionTracked</targetReference>
        </connector>
        <filters>
            <field>Collection_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Collection_Code__c</elementReference>
            </value>
        </filters>
        <object>Collection__c</object>
        <outputReference>soCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionInstance</name>
        <label>GetCollectionInstance</label>
        <locationX>227</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectionInstance_Tracked</targetReference>
        </connector>
        <filters>
            <field>Collection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollection.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reference_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Reference_Period__c</elementReference>
            </value>
        </filters>
        <object>Collection_Instance__c</object>
        <outputReference>soCollectionInstance</outputReference>
        <queriedFields>Collection_Instance_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionMark_InRequest</name>
        <label>GetCollectionMark-InRequest</label>
        <locationX>222</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCollection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collection_Mark_in_Request_ID</elementReference>
            </value>
        </filters>
        <object>Collection_Mark_In_Request__c</object>
        <outputReference>soCollectionMarkInRequest</outputReference>
        <queriedFields>Unit_Of_Interest_ID__c</queriedFields>
        <queriedFields>Collection_Code__c</queriedFields>
        <queriedFields>Instrument_Code__c</queriedFields>
        <queriedFields>Reference_Period__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQueueId</name>
        <label>GetQueueId</label>
        <locationX>370</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupID</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueValue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>soGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetResponse</name>
        <label>GetResponse</label>
        <locationX>273</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Tracked</targetReference>
        </connector>
        <filters>
            <field>Response_ExtId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResExtId</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponse</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>CollectionInstance_Tracked</name>
        <label>CollectionInstance Tracked</label>
        <locationX>479</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ResponseExtensionAssignment</targetReference>
        </connector>
        <fields>
            <name>CollectionInstanceID</name>
            <fieldText>{!soCollectionInstance.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollectionInstance</name>
            <fieldText>{!soCollectionInstance.Collection_Instance_Code__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>CollectionTracked</name>
        <label>CollectionTracked</label>
        <locationX>453</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCollectionInstance</targetReference>
        </connector>
        <fields>
            <name>Collection</name>
            <fieldText>{!soCollection.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollectionName</name>
            <fieldText>{!soCollection.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>CustomSettingValue</name>
        <label>CustomSettingValue</label>
        <locationX>180</locationX>
        <locationY>673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetQueueId</targetReference>
        </connector>
        <fields>
            <name>CustomSettingFieldValue</name>
            <fieldText>{!varQueueValue}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GetCollectionMark_in_Request_ID</name>
        <label>GetCollectionMark-in Request ID</label>
        <locationX>65</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCollectionMark_InRequest</targetReference>
        </connector>
        <fields>
            <name>Collection_Mark_in_Request_ID</name>
            <dataType>String</dataType>
            <fieldText>Collection Mark-in Request ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>GroupID</name>
        <label>GroupID</label>
        <locationX>514</locationX>
        <locationY>795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Work_Item</targetReference>
        </connector>
        <fields>
            <name>id</name>
            <fieldText>{!soGroup.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Response_Tracked</name>
        <label>Response Tracked</label>
        <locationX>53</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetQueueName</targetReference>
        </connector>
        <fields>
            <name>ResponseId</name>
            <fieldText>{!soResponse.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ResponseExtensionId</name>
        <label>ResponseExtensionId</label>
        <locationX>492</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetResponse</targetReference>
        </connector>
        <fields>
            <name>ResExtId</name>
            <fieldText>{!varResExtId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>WorkItem</name>
        <label>WorkItem</label>
        <locationX>728</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WorkItemID</name>
            <fieldText>{!varWorkItemID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetCollectionMark_in_Request_ID</startElementReference>
    <variables>
        <description>It will contain the collection, which will have given collection code</description>
        <name>soCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection__c</objectType>
    </variables>
    <variables>
        <description>it contains the single collection instance which has given collection code and refrence period</description>
        <name>soCollectionInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Instance__c</objectType>
    </variables>
    <variables>
        <description>single collection mark-in request record</description>
        <name>soCollectionMarkInRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Mark_In_Request__c</objectType>
    </variables>
    <variables>
        <description>it will get the Id for the given queue</description>
        <name>soGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>it will contains the Response having ResponseExtId as {!soCollectionInstance.Collection_Instance_Code__c}+{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}+{!soCollectionMarkInRequest.Instrument_Code__c}</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>This is the unique Id associated with each collection mark-in request object</description>
        <name>varCollectionMarkInRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>It contains queue name</description>
        <name>varQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will receive queue value from custom settings</description>
        <name>varQueueValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will get response Extension Id</description>
        <name>varResExtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Item ID for the work item got created</description>
        <name>varWorkItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
