src/flows/Create_Update_Unit_Address_WorkItem-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>RespExtensionIDAssignment</name>
        <label>RespExtensionIDAssignment</label>
        <locationX>155</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>varResExtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varResponseExtensionID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResponseExtensionAssignment</name>
        <label>ResponseExtensionAssignment</label>
        <locationX>1204</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>varResExtId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!soCollectionInstance.Collection_Instance_Code__c}{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}{!soCollectionMarkInRequest.Instrument_Code__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetResponse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Delivery_Mode_Exists</name>
        <label>If Delivery Mode Exists</label>
        <locationX>431</locationX>
        <locationY>804</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Delivery_Mode_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeliveryMode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryMode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WI_for_Delivery_Mode</targetReference>
            </connector>
            <label>Delivery Mode Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Response_Extension_ID_is_not_null_or_Blank</name>
        <label>If Response Extension ID is not null or Blank</label>
        <locationX>263</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>GetCollectionMark_InRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resp Ext ID does not exist</defaultConnectorLabel>
        <rules>
            <name>Resp_ExtID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResponseExtensionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varResponseExtensionID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RespExtensionIDAssignment</targetReference>
            </connector>
            <label>Resp ExtID Exists</label>
        </rules>
    </decisions>
    <description>This flow is to create WorkItem. This can be used to create any type of workitem for any queue.The input paramaters are Collection Mark-in Request ID, Queue, Work Item Type, Response Extension ID and Notes.</description>
    <interviewLabel>Create WorkItem at {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create WorkItem</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Item</name>
        <label>Create Work Item</label>
        <locationX>430</locationX>
        <locationY>704</locationY>
        <assignRecordIdToReference>varWorkItemID</assignRecordIdToReference>
        <connector>
            <targetReference>If_Delivery_Mode_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>soGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>soResponse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item_Type__c</field>
            <value>
                <elementReference>varWorkItemType</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetCollection</name>
        <label>GetCollection</label>
        <locationX>776</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCollectionInstance</targetReference>
        </connector>
        <filters>
            <field>Collection_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Collection_Code__c</elementReference>
            </value>
        </filters>
        <object>Collection__c</object>
        <outputReference>soCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionInstance</name>
        <label>GetCollectionInstance</label>
        <locationX>990</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResponseExtensionAssignment</targetReference>
        </connector>
        <filters>
            <field>Collection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollection.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reference_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollectionMarkInRequest.Reference_Period__c</elementReference>
            </value>
        </filters>
        <object>Collection_Instance__c</object>
        <outputReference>soCollectionInstance</outputReference>
        <queriedFields>Collection_Instance_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionMark_InRequest</name>
        <label>GetCollectionMark-InRequest</label>
        <locationX>500</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCollection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionMarkInRequestId</elementReference>
            </value>
        </filters>
        <object>Collection_Mark_In_Request__c</object>
        <outputReference>soCollectionMarkInRequest</outputReference>
        <queriedFields>Unit_Of_Interest_ID__c</queriedFields>
        <queriedFields>Collection_Code__c</queriedFields>
        <queriedFields>Instrument_Code__c</queriedFields>
        <queriedFields>Reference_Period__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQueueId</name>
        <label>GetQueueId</label>
        <locationX>422</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Item</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>soGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetResponse</name>
        <label>GetResponse</label>
        <locationX>425</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueId</targetReference>
        </connector>
        <filters>
            <field>Response_ExtId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResExtId</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponse</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WI_for_Delivery_Mode</name>
        <label>Update WI for Delivery Mode</label>
        <locationX>438</locationX>
        <locationY>993</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkItemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Mode__c</field>
            <value>
                <elementReference>varDeliveryMode</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordUpdates>
    <startElementReference>If_Response_Extension_ID_is_not_null_or_Blank</startElementReference>
    <variables>
        <description>It will contain the collection, which will have given collection code</description>
        <name>soCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection__c</objectType>
    </variables>
    <variables>
        <description>it contains the single collection instance which has given collection code and refrence period</description>
        <name>soCollectionInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Instance__c</objectType>
    </variables>
    <variables>
        <description>single collection mark-in request record</description>
        <name>soCollectionMarkInRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection_Mark_In_Request__c</objectType>
    </variables>
    <variables>
        <description>it will get the Id for the given queue</description>
        <name>soGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>it will contains the Response having ResponseExtId as {!soCollectionInstance.Collection_Instance_Code__c}+{!soCollectionMarkInRequest.Unit_Of_Interest_ID__c}+{!soCollectionMarkInRequest.Instrument_Code__c}</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>WorkItem object wil be updated with delivery mode</description>
        <name>soWorkItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <description>This will have collection Mark-in request ID</description>
        <name>varCollectionMarkInRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contains the defualt delivery mode of WorkItem</description>
        <name>varDeliveryMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will contain notes for creation of work item</description>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will hold the value for Queue</description>
        <name>varQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will get response Extension Id</description>
        <name>varResExtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will hold Response Extension ID for workitem creation request</description>
        <name>varResponseExtensionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Work Item ID for the work item got created</description>
        <name>varWorkItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>It will have work item type for creation of work item</description>
        <name>varWorkItemType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
