src/flows/NRFU_Visit_Count_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcNRFUCount</name>
        <label>assCalcNRFUCount</label>
        <locationX>565</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varNRFUVisitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkItems</targetReference>
        </connector>
    </assignments>
    <description>Used with NRFU Visit Count Process Builder to calculate the number of completed NRFU work items for Census Dwelling</description>
    <interviewLabel>NRFU Visit Count Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NRFU Visit Count Flow</label>
    <loops>
        <name>loopWorkItems</name>
        <label>loopWorkItems</label>
        <locationX>323</locationX>
        <locationY>276</locationY>
        <assignNextValueToReference>soWorkItems</assignNextValueToReference>
        <collectionReference>socWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCalcNRFUCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDwellingResponse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Completed_NRFU_Work_Items</name>
        <label>Fetch Completed NRFU Work Items</label>
        <locationX>322</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWorkItems</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkItemCensusRTID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-response follow-up</stringValue>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputReference>socWorkItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Response__c</queriedFields>
        <queriedFields>Work_Item_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindrecordTypeID</name>
        <label>FindrecordTypeID</label>
        <locationX>322</locationX>
        <locationY>5</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Completed_NRFU_Work_Items</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Census</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>WorkItemCensusRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateDwellingResponse</name>
        <label>updateDwellingResponse</label>
        <locationX>324</locationX>
        <locationY>421</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NRFU_Visit_Count__c</field>
            <value>
                <elementReference>varNRFUVisitCount</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>FindrecordTypeID</startElementReference>
    <variables>
        <description>Collection of Work Item records</description>
        <name>socWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>soWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>varNRFUVisitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkItemCensusRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
