src/flows/NRFU_Visit_Count_Flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcNRFUCount</name>
        <label>assCalcNRFUCount</label>
        <locationX>565</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varNRFUVisitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Work_Items_not_null</name>
        <label>Work Items not null</label>
        <locationX>324</locationX>
        <locationY>165</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socWorkItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopWorkItems</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <description>Used with NRFU Visit Count Process Builder to calculate the number of completed NRFU work items for Census Dwelling

Not hard coding RecordTypeID</description>
    <interviewLabel>NRFU Visit Count Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NRFU Visit Count Flow</label>
    <loops>
        <name>loopWorkItems</name>
        <label>loopWorkItems</label>
        <locationX>323</locationX>
        <locationY>277</locationY>
        <assignNextValueToReference>soWorkItems</assignNextValueToReference>
        <collectionReference>socWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCalcNRFUCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDwellingResponse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Completed_NRFU_Work_Items</name>
        <label>Fetch Completed NRFU Work Items</label>
        <locationX>323</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Items_not_null</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Item_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-response follow-up</stringValue>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputReference>socWorkItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Response__c</queriedFields>
        <queriedFields>Work_Item_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateDwellingResponse</name>
        <label>updateDwellingResponse</label>
        <locationX>325</locationX>
        <locationY>421</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NRFU_Visit_Count__c</field>
            <value>
                <elementReference>varNRFUVisitCount</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>Fetch_Completed_NRFU_Work_Items</startElementReference>
    <variables>
        <description>Collection of Work Item records</description>
        <name>socWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>soWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>varNRFUVisitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkItemCensusRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
