src/flows/Post_to_WI_Feed-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postRefused</name>
        <label>postRefused</label>
        <locationX>583</locationX>
        <locationY>253</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>soWorkItem.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tmptRefused</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varWIFeed</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Post to WI Feed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post to WI Feed</label>
    <loops>
        <name>loopOpenWorkItems</name>
        <label>loopOpenWorkItems</label>
        <locationX>347</locationX>
        <locationY>258</locationY>
        <assignNextValueToReference>soWorkItem</assignNextValueToReference>
        <collectionReference>socWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>postRefused</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>flWorkItems</name>
        <label>flWorkItems</label>
        <locationX>345</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpenWorkItems</targetReference>
        </connector>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputReference>socWorkItems</outputReference>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <startElementReference>flWorkItems</startElementReference>
    <textTemplates>
        <name>tmptRefused</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Unit Status was updated to Refused.&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <variables>
        <name>socWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <description>Single work Item</description>
        <name>soWorkItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Item__c</objectType>
    </variables>
    <variables>
        <name>varResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWIFeed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
