src/flows/Setup_Collection_Instance_Flow-28.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignCollectionInstanceParams_Census</name>
        <label>AssignCollectionInstanceParams-Census</label>
        <locationX>480</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCollectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection_Instance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Instance_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Instance_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchRecordTypeForCollectionInstanceObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollectionInstanceParams_Collections</name>
        <label>AssignCollectionInstanceParams-Collections</label>
        <locationX>482</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCollectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection_Instance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionInstanceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionInstanceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlannedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlannedEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Extension_Cut_off_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extension_Cut_off_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_Close_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_Close_Off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Return_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Reference_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchRecordTypeForCollectionInstanceObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollectionInstanceParams_Social</name>
        <label>AssignCollectionInstanceParams-Social</label>
        <locationX>480</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCollectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection_Instance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionInstance_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionInstance_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlannedStart_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Planned_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlannedEnd_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Interview_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Collection_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchRecordTypeForCollectionInstanceObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollectionInstanceRecordTypeId</name>
        <label>AssignCollectionInstanceRecordTypeId</label>
        <locationX>861</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeCIObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Primary_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionObject.Default_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateCollectionInstance.Delivery_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionObject.Delivery_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCollectionInstanceRecord1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Off_Date_Error</name>
        <label>Close Off Date Error</label>
        <locationX>1369</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>CustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;Planned End Date&apos; should be after the &apos;Planned Start Date&apos;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicate_Error</name>
        <label>Duplicate Error</label>
        <locationX>1109</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>CustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>‘Collections Instance Name&apos; and &apos;Collection Code&apos; should be unique.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Planned_End_Date_Error</name>
        <label>Planned End Date Error</label>
        <locationX>1235</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>CustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;Planned End Date&apos; should be after the &apos;Planned Start Date&apos;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>System_Error_Message</name>
        <label>System Error Message</label>
        <locationX>690</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>CustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>112</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>CreateCollectionInstanceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Collections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeObject.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collections</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionInstanceForCollections</targetReference>
            </connector>
            <label>If Collections</label>
        </rules>
        <rules>
            <name>If_Social</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeObject.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionInstanceSocial</targetReference>
            </connector>
            <label>If Social</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>1018</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>System_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>System Error</defaultConnectorLabel>
        <rules>
            <name>If_Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATES_DETECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Error</targetReference>
            </connector>
            <label>If Duplicate Found</label>
        </rules>
        <rules>
            <name>If_Planned_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>End Date may not be before Planned Start Date or Actual Start Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_End_Date_Error</targetReference>
            </connector>
            <label>If Planned End Date</label>
        </rules>
        <rules>
            <name>If_Close_Off_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ate may only be within the Planned Start and Planned End Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Off_Date_Error</targetReference>
            </connector>
            <label>If Close Off Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectionPeriodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collection_Period__c</picklistField>
        <picklistObject>Collection_Instance__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Setup Collection Instance Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Collection Instance Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCollectionInstanceRecord1</name>
        <label>CreateCollectionInstanceRecord</label>
        <locationX>1019</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <inputReference>CreateCollectionInstance</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FetchCollection</name>
        <label>FetchCollection</label>
        <locationX>113</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchRecordTypeNameForCollectionObject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>System_Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionId</elementReference>
            </value>
        </filters>
        <object>Collection__c</object>
        <outputReference>CollectionObject</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Default_Mode__c</queriedFields>
        <queriedFields>Delivery_Mode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FetchRecordTypeForCollectionInstanceObject</name>
        <label>FetchRecordTypeForCollectionInstanceObject</label>
        <locationX>691</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCollectionInstanceRecordTypeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>System_Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeObject.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection_Instance__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeCIObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FetchRecordTypeNameForCollectionObject</name>
        <label>FetchRecordTypeNameForCollectionObject</label>
        <locationX>113</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>System_Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionObject.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>1184</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreen</name>
            <fieldText>Record(s) Created Successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>CreateCollectionInstanceForCollections</name>
        <label>CreateCollectionInstanceForCollections</label>
        <locationX>317</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCollectionInstanceParams_Collections</targetReference>
        </connector>
        <fields>
            <name>HeaderTextforCollection</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Provide Data To Create Collection Instance for {!RecordTypeObject.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollectionInstanceName</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CollectionInstanceCode</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reference_Period</name>
            <dataType>String</dataType>
            <fieldText>Reference Period</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlannedStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Planned Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlannedEndDate</name>
            <dataType>Date</dataType>
            <fieldText>Planned End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extension_Cut_off_Date</name>
            <dataType>Date</dataType>
            <fieldText>Extension Cut-off Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planned_Close_Off</name>
            <dataType>Date</dataType>
            <fieldText>Planned Close Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Return_Date</name>
            <dataType>Date</dataType>
            <fieldText>Return Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CreateCollectionInstanceScreen</name>
        <label>CreateCollectionInstanceScreen</label>
        <locationX>320</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCollectionInstanceParams_Census</targetReference>
        </connector>
        <fields>
            <name>HeaderTextForCreateCollectionInstanceScreen</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Provide Data To Create Collection Instance for&lt;/B&gt; &lt;B&gt;{!RecordTypeObject.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collection_Instance_Name</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Collection_Instance_Code</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Planned_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planned_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CreateCollectionInstanceSocial</name>
        <label>CreateCollectionInstanceSocial</label>
        <locationX>315</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCollectionInstanceParams_Social</targetReference>
        </connector>
        <fields>
            <name>HeaderTextForSocialCI</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Provide Data To Create Collection Instance for {!RecordTypeObject.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollectionInstance_Name</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CollectionInstance_Code</name>
            <dataType>String</dataType>
            <fieldText>Collection Instance Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlannedStart_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlannedEnd_Date</name>
            <dataType>Date</dataType>
            <fieldText>Planned End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interview_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Interview Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Collection_Period</name>
            <choiceReferences>CollectionPeriodPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collection Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Collection_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CreateCollectionInstance.Collection_Number__c</elementReference>
            </defaultValue>
            <fieldText>Collection Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>This number identifies each quarter of HLFS</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1195</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaymsg</name>
            <fieldText>{!CustomMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FetchCollection</startElementReference>
    <variables>
        <name>CISName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection Default Mode field</description>
        <name>CollectionDefaultMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection Instance Primary Mode field</description>
        <name>CollectionInstancePrimaryMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection__c</objectType>
    </variables>
    <variables>
        <name>CreateCollectionInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Collection_Instance__c</objectType>
    </variables>
    <variables>
        <name>CustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCIObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCollectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
