src/flows/Update_Response_Delivery_Address-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_whether_contact_role_is_empty</name>
        <label>Check whether contact role is empty</label>
        <locationX>512</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soContactRole.Preferred_Collection_Mode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preferred_Collection_Mode</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <description>When user changes a contact of a Response, the &quot;Collection Mode&quot; of the response  update automatically to match the &quot;Preferred Collection Mode&quot; in the contact role of the new contact</description>
    <interviewLabel>Update Response Delivery Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Response Preferred Collection Mode</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCollection</name>
        <label>GetCollection</label>
        <locationX>160</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactRoleInfo</targetReference>
        </connector>
        <filters>
            <field>Collection_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soResponse.Collection_Code__c</elementReference>
            </value>
        </filters>
        <object>Collection__c</object>
        <outputReference>soCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactRoleInfo</name>
        <label>GetContactRoleInfo</label>
        <locationX>338</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_whether_contact_role_is_empty</targetReference>
        </connector>
        <filters>
            <field>Collection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCollection.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soResponse.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Interest_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soResponse.Unit_of_Interest__c</elementReference>
            </value>
        </filters>
        <object>Contact_Role__c</object>
        <outputReference>soContactRole</outputReference>
        <queriedFields>Preferred_Collection_Mode__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetResponse</name>
        <label>GetResponse</label>
        <locationX>160</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCollection</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Census Dwelling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response_Summary_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponse</outputReference>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collection_Mode__c</queriedFields>
        <queriedFields>Collection_Code__c</queriedFields>
        <queriedFields>Unit_of_Interest__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Preferred_Collection_Mode</name>
        <label>Preferred Collection Mode</label>
        <locationX>516</locationX>
        <locationY>403</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Mode__c</field>
            <value>
                <elementReference>soContactRole.Preferred_Collection_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>GetResponse</startElementReference>
    <variables>
        <description>Get Collection</description>
        <name>soCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection__c</objectType>
    </variables>
    <variables>
        <description>Get Contact Role</description>
        <name>soContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Get response ID from process builder</description>
        <name>varResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
