src/flows/Update_Contact_on_with_new_Primary_Contact-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>tes</name>
        <label>tes</label>
        <locationX>128</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00317000008aEaA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHouseholdUnitID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a01170000010SBL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetResponses</targetReference>
        </connector>
    </assignments>
    <description>Where a Primary Contact is added (new or updated) to a Household Unit, update related open Response Records with the name of that Contact.</description>
    <interviewLabel>Update Contact on with new Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact on with new Primary Contact</label>
    <loops>
        <description>If the Primary Contact variable passed in IS NOT NULL, then set response.Primary Contact to the value in the Primary Contact variable.</description>
        <name>loopSet_Primary_Contact</name>
        <label>loopSet Primary Contact</label>
        <locationX>299</locationX>
        <locationY>191</locationY>
        <assignNextValueToReference>soResponse</assignNextValueToReference>
        <collectionReference>soResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ruSet_Primary_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetResponses</name>
        <label>GetResponses</label>
        <locationX>300</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSet_Primary_Contact</targetReference>
        </connector>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Census Dwelling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response_Summary_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Interest_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHouseholdUnitID</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponses</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>ruSet_Primary_Contact</name>
        <label>ruSet Primary Contact</label>
        <locationX>301</locationX>
        <locationY>345</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soResponse.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>tes</startElementReference>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Response record set</description>
        <name>soResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>The Contact ID passed in from Process Builder</description>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Get Unit ID from process builder</description>
        <name>varHouseholdUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
