src/flows/Update_Contact_on_with_new_Primary_Contact-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignContactOnResponse</name>
        <label>assignContactOnResponse</label>
        <locationX>368</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>soResponse.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUpdatedResposnes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullContact</name>
        <label>AssignNullContact</label>
        <locationX>573</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>soResponse.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUpdatedResposnes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getUpdatedResposnes</name>
        <label>getUpdatedResposnes</label>
        <locationX>220</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>ResponsesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSet_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Contact_is_Null</name>
        <label>Primary Contact is Null?</label>
        <locationX>417</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>AssignNullContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContactOnResponse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Where a Primary Contact is added (new or updated) to a Household Unit, update related open Response Records with the name of that Contact.</description>
    <interviewLabel>Update Contact on with new Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact on with new Primary Contact</label>
    <loops>
        <description>If the Primary Contact variable passed in IS NOT NULL, then set response.Primary Contact to the value in the Primary Contact variable.</description>
        <name>loopSet_Primary_Contact</name>
        <label>loopSet Primary Contact</label>
        <locationX>293</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>soResponse</assignNextValueToReference>
        <collectionReference>soResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Primary_Contact_is_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateResponses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetResponses</name>
        <label>GetResponses</label>
        <locationX>304</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSet_Primary_Contact</targetReference>
        </connector>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Census Dwelling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response_Summary_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHouseholdUnitID</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>soResponses</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>updateResponses</name>
        <label>updateResponses</label>
        <locationX>533</locationX>
        <locationY>212</locationY>
        <inputReference>ResponsesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>GetResponses</startElementReference>
    <variables>
        <name>ResponsesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Single Response record</description>
        <name>soResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <description>Response record set</description>
        <name>soResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>testContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The Contact ID passed in from Process Builder</description>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Get Unit ID from process builder</description>
        <name>varHouseholdUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
