src/flows/UpdateResponse_with_DocumentID-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetNonPrivateDewllingValue</name>
        <label>SetNonPrivateDewllingValue</label>
        <locationX>493</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>varIsNonPrivateDwelling</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDACStore</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Address_type_is_non_private_Dewlling</name>
        <label>If Address type is non private Dewlling</label>
        <locationX>119</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>GetDACStore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddressType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-private dwelling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNonPrivateDewllingValue</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_DAC_not_empty</name>
        <label>If DAC not empty</label>
        <locationX>501</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objDacStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateResponse_with_DocumentID</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <description>Allocate documentID for response which does not have, when workitem is created by telnet user through mulesoft</description>
    <interviewLabel>UpdateResponse with DocumentID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate DocumentID for Response</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDACStore</name>
        <label>GetDACStore</label>
        <locationX>495</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_DAC_not_empty</targetReference>
        </connector>
        <filters>
            <field>Allocation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unallocated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Non_Private_Dwelling__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIsNonPrivateDwelling</elementReference>
            </value>
        </filters>
        <object>DAC_Store__c</object>
        <outputReference>objDacStore</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Document_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateResponse_with_DocumentID</name>
        <label>UpdateResponse with DocumentID</label>
        <locationX>505</locationX>
        <locationY>530</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varResponseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Number__c</field>
            <value>
                <elementReference>objDacStore.Document_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <startElementReference>If_Address_type_is_non_private_Dewlling</startElementReference>
    <variables>
        <name>objDacStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DAC_Store__c</objectType>
    </variables>
    <variables>
        <description>Get unit address type for the response from process builder</description>
        <name>varAddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsNonPrivateDwelling</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Get Response Name from Process builder</description>
        <name>varResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
